# Django Config
SECRET_KEY='your-secret-key'
DEBUG=True
ALLOWED_HOSTS='*'

API_KEY=your-super-secret-api-key

#Main Database Config
DATABASE_HOST=<database host>
DATABASE_PORT=<database port number>
DATABASE_USER=<database user>
DATABASE_PASSWORD=<database password>
DATABASE_NAME=<database name>
DATABASE_SCHEMA=<database schema>

# OpenAI Config
OPENAI_API_KEY='your-open-ai-api-key'
OPENAI_MODEL='your-open-ai-model'
OPENAI_MAX_RETRIES=3
OPENAI_DEFAULT_TEMPERATURE=0.3
OPENAI_DEFAULT_ERROR_MESSAGE="I'm sorry, I'm having trouble connecting right now. Please try again in a moment."
